mat-icon.service-power-btn-on{
 color:#41bd45 !important;
}

mat-icon.service-power-btn-off{
  color: #900 !important;
}

:host ::ng-deep .service-enable-cell {
  position: relative;
}

.service-enable {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
}

.service-enable .checkbox {
  display: flex;
  margin: 0;
  position: static;
}

.mat-slide-toggle {
  position: relative;
  top: 2px;
}

.service-toggle {
  width: 48px;
}

.clickable {
  height: 28px;
  width: 40px;
  position: absolute;
  background: rgba(0,0,0, .0);
  z-index: 10;
}
