<mat-toolbar class="topbar lola">
  <mat-toolbar-row>
    <!-- Sidenav toggle button -->
    <button mat-icon-button id="sidenavToggle" (click)="toggleSidenav()" [matTooltip]="mat_tooltips.toggle_hide | translate" matTooltipPosition="right"
      ix-auto ix-auto-type="button" ix-auto-identifier="sidenavToggle">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Sidenav toggle collapse -->
    <button *ngIf="sidenav.opened" mat-icon-button id="collapseToggle" (click)="toggleCollapse()" [matTooltip]="mat_tooltips.toggle_collapse | translate" class="toggle-collapsed"
      ix-auto ix-auto-type="button" ix-auto-identifier="collapseToggle">
      <mat-icon>chevron_left</mat-icon>
    </button>
      <span class="topbar-spacer"></span>

      <!-- identity mark (the internal development record): where 13.3 kept the iX logo; opens About -->
      <button mat-icon-button id="fc-mark" [matTooltip]="mat_tooltips.about | translate" (click)="onShowAbout()" class="topbar-button-right"
        ix-auto ix-auto-type="button" ix-auto-identifier="fcMark">
        <img class="fc-topbar-mark" [src]="'assets/images/' + mascot" alt="FreeCORE">
      </button>
      <!--loading icon-->
      <button *ngIf="updateIsRunning" mat-icon-button id="update-running" [matTooltip]="mat_tooltips.update | translate" (click)="showUpdateDialog()" class="topbar-button-right"
        ix-auto ix-auto-type="button" ix-auto-identifier="updateRunning">
        <mat-icon class="movement">system_update_alt</mat-icon>
      </button>
      <button *ngIf="pendingNetworkChanges" mat-icon-button id="network" [matTooltip]="mat_tooltips.pending_network_changes | translate" (click)="showNetworkChangesPending()" class="topbar-button-right"
        ix-auto ix-auto-type="button" ix-auto-identifier="networkPending">
        <mat-icon class="movement">device_hub</mat-icon>
      </button>
      <button *ngIf="showResilvering" mat-icon-button id="resilver" [matTooltip]="mat_tooltips.resilvering | translate" (click)="showResilveringDetails()" class="topbar-button-right"
        ix-auto ix-auto-type="button" ix-auto-identifier="resilvering">
        <mat-icon class="fa-spin">autorenew</mat-icon>
      </button>
      <!-- Directory Services Monitor -->
      <button mat-icon-button *ngIf="showDirServicesIcon" id="dirservices-manager" [matTooltip]="mat_tooltips.directory_services_monitor | translate" (click)="onShowDirServicesMonitor()"
        ix-auto ix-auto-type="button" ix-auto-identifier="dirServices">
        <mat-icon>info</mat-icon>
      </button>
      <!-- Task Manager -->
      <button mat-icon-button id="task-manager" [matTooltip]="mat_tooltips.task_manager | translate" (click)="onShowTaskManager()"
        ix-auto ix-auto-type="button" ix-auto-identifier="taskManager">
        <mat-icon>assignment</mat-icon>
      </button>
      <!-- Notification toggle button -->
      <button mat-icon-button [matTooltip]="mat_tooltips.alerts | translate" (click)="toggleNotific()" [style.overflow]="'visible'" class="topbar-button-right"
        ix-auto ix-auto-type="button" ix-auto-identifier="notifications">
        <mat-icon>notifications</mat-icon>
        <span *ngIf="notifications.length > 0" class="notification-number mat-bg-warn">{{notifications.length}}</span>
      </button>
      <!-- User and UI menu -->
      <button name="Settings" mat-icon-button [matTooltip]="mat_tooltips.settings | translate" [matMenuTriggerFor]="accountMenu" class="topbar-button-right"
        ix-auto ix-auto-type="button" ix-auto-identifier="settings">
          <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu">
        <button class="hidden-button" mat-menu-item></button>
        <button name="settings-change-password" mat-menu-item [routerLink]="['/account/users/change-password']"
          ix-auto ix-auto-type="option" ix-auto-identifier="Change Password">
          <mat-icon>dialpad</mat-icon>
          <span>{{'Change Password' | translate}}</span>
        </button>
        <button name="settings-preferences" mat-menu-item [routerLink]="['/ui-preferences']"
          ix-auto ix-auto-type="option" ix-auto-identifier="Preferences">
          <mat-icon>settings_applications</mat-icon>
          <span>{{'Preferences' | translate}}</span>
        </button>
        <!-- button name="settings-disable-alerts" mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button -->
        <button name="settings-api" mat-menu-item [routerLink]="['/apikeys']"
          ix-auto ix-auto-type="option" ix-auto-identifier="API">
          <mat-icon>laptop</mat-icon>
          <span>{{'API Keys' | translate}}</span>
        </button>
        <button name="settings-about" mat-menu-item (click)="onShowAbout()"
          ix-auto ix-auto-type="option" ix-auto-identifier="About">
          <mat-icon>info_outline</mat-icon>
          <span>{{'About' | translate}}</span>
        </button>
      </mat-menu>
      <!-- Top right power menu -->
      <button name="Power" mat-icon-button [matTooltip]="mat_tooltips.power | translate" [matMenuTriggerFor]="runMenu" class="topbar-button-right"
        ix-auto ix-auto-type="button" ix-auto-identifier="power">
          <mat-icon>power_settings_new</mat-icon>
        </button>
        <mat-menu #runMenu="matMenu">
            <button class="hidden-button" mat-menu-item></button>
            <button name="power-log-out" mat-menu-item (click)="signOut()"
              ix-auto ix-auto-type="option" ix-auto-identifier="Log Out">
              <mat-icon>exit_to_app</mat-icon>
              <span>{{'Log Out' | translate}}</span>
            </button>
            <button name="power-restart" mat-menu-item (click)="onReboot()"
              ix-auto ix-auto-type="option" ix-auto-identifier="Restart">
              <mat-icon>replay</mat-icon>
              <span>{{'Restart' | translate}}</span>
            </button>
            <button name="power-shut-down" mat-menu-item (click)="onShutdown()"
              ix-auto ix-auto-type="option" ix-auto-identifier="Shut Down">
              <mat-icon>power_settings_new</mat-icon>
              <span>{{'Shut Down' | translate}}</span>
            </button>
        </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
